:root {
  --bg-clr: #35374B;
  --board-line-clr: #50727B;
  --font-clr: #78A083;
}

* {
  margin: 0;
  padding: 0;
}

body{
  height: 100svh;
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10rem;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

header > h1 {
  color: var(--font-clr);
  font-size: 4rem;
}

header > p {
  color:var(--font-clr);
  font-size: 1rem;
}


.board {
  display: grid;
  width: max-content;
  height: max-content;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 150px);
}

.boardSquare:hover {
  cursor: pointer;
  background-color: hsl(191, 7%, 21%);
}



.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--board-line-clr);
  color: var(--font-clr);
  font-size: 6rem;
}

.message {
  position: fixed;
  top: 10rem;
  font-size: 2.5rem;

  color: var(--font-clr);
}